.projectbackground {
  width: 100%;
  height: 100%;
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #acb1cb 0%, #c5acc5 46%, #daceb9 100%);
}
.project-section {
  position: relative !important;
  padding-top: 10px !important;
}
.project-card {
  padding-top: 20px;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
  min-height: 55vh !important;
}

.project-card-view {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
  color: #191919 !important;
  background-color: transparent !important;
  border: transparent;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
  border-radius: 15px;
}
.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
}
.github-icon {
  position: absolute;
  bottom: 14px;
  right: 0px;
}
.github-button {
  margin-top: 2rem;
  width: 90px;
  height: 45px;
  background-color: transparent;
  border: none;
  border-radius: 15px;
}

.card-img-top {
  padding: 10px !important;
  opacity: 1 !important;
  border-radius: 10px !important;
}
.viewbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 1px;
}

.btn-primary {
  color: #fff !important;
  background-color: transparent !important;
  border-color: #191919 !important;
}

.btn-primary:hover {
  color: #191919 !important;
  background-color: #8b828b !important;
  /* border-color: #d594d1 !important; */
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

@media (max-width: 767px) {
  .project-section {
    padding-top: 40px !important;
  }
}
